<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="Wix Test App" Manufacturer="Test" Version="1.0.0.0" UpgradeCode="aaecab03-3ce6-4936-b374-f9f59b715f26">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<Feature Id="Main">
			<ComponentGroupRef Id="WixTestApp.Binaries" />
		</Feature>
	</Package>
</Wix>
